.segment-int {
  color: blue;
}
.segment-string {
  color: green;
}
.segment-bool {
  color: blue;
}
.segment-keyword {
  color: darkorange;
}
.segment-specialVar {
  color: darkorange;
}
.segment-var {
  color: purple;
}
.segment-defn {
  color: purple;
}
.segment-defn__highlighted {
  background-color: rgba(255, 108, 134, 0.3);
}
.segment-usage {
  color: purple;
}
.segment-usage__highlighted {
  background-color: rgba(168, 168, 168, 0.37);
}
.segment-comment {
  color: darkgrey;
}
.segment-type-error {
  text-decoration: underline red;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
}
